name: Nix

on:
  push:
  workflow_dispatch:

env:
  NIX_ABORT_ON_WARN: "1"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - "ubuntu-24.04"
          - "ubuntu-24.04-arm"
          - "macos-26"

    runs-on: ${{ matrix.os }}

    steps:
      - uses: DeterminateSystems/determinate-nix-action@1d699fc25db3f9e079cd2f168ca007a4183389be # v3.15.1
        with:
          extra-conf: |
            accept-flake-config = true
            allow-import-from-derivation = false

      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: josh
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Check flake
        run: |
          nix flake check --keep-going --print-build-logs github:${{ github.repository }}/${{ github.sha }}
